@import url(base.css);
@import url(header.css);
@import url(footer.css);

h3 {
    margin-block: 15px;
    font-size: 18px
}

.inpText {
    width: 100%;
    height: 54px;
    padding-inline: 20px;
    border-radius: 15px;
    border: 1px solid gray;
    font-size: 1.1rem;
}

.loginForm {
    max-width: 40rem;
    padding:4.8rem;
    border-radius:0.8rem;
    border:1px solid #ccc;
    background-color:white;
    margin:30px auto;
}

.title{
    display:flex;
    justify-content:center;
    margin-bottom:15px;
}
.loginForm span{
    color: red;
}
#btnLogin {
    width: 100%;
    height: 45px;
    border-radius: 15px;
    margin: 15px auto;
    font-size: 1.1rem;
    background-color: #fd5e4c;
    outline: #fd5e4c;
}

#btnLogin:hover{
    background-color: #e35544;
}

.Container_Login .login .content {
    font-size: 1.05rem;
}

.Container_Login .content .action {
    cursor: pointer;
}

@media screen and (max-width:767px){
    .loginForm{
        border:none;
        padding:2rem;
    }
}