@import url(base.css);

.footer {
    display: flex;
    height: 150px;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.footer_left {
    margin: 0 75px;
   
}

.footer_right {
    margin: 0 75px;
}
@media screen and (max-width: 767px){
    .footer {
        display: block;
        text-align: center;
    }
}
