@import url(base.css);

.fa-bars,
.fa-xmark, 
.tknavbar {
    display: none;
}
.overLayNavBar{
    display:none;
    position:fixed;
    top:0;
    right:0;
    left:0;
    bottom:0;
    background-color:rgba(0,0,0,0.3);
    z-index:30;

}
.check_navBar:checked ~ .overLayNavBar{
    display:block;
}
/*Top bar*/
.header__topbar {
    height: 40px;
    width: 100%;
    color: white;
    background-image: linear-gradient(0,#FFA07A,#FA8072);
    display: flex;
    justify-content: space-between;
    line-height: 40px;
    font-size: 16px;
    padding: 0px 10%;
}
.topbar__left {
    text-transform: uppercase;
}

/*Bottom bar*/
.header__bottombar {
    height: 70px;
    width: 100%;
    background-color: rgb(248, 245, 245);
    display: flex;
    padding: 0px 10%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.header__logo{
    display:flex;
    align-items:center
}
.header__logo span {
    color: #fd6f5f;
    font-size: 25px;
    font-weight: 700;
    text-decoration:underline;
}


.header__search{
    width:40%;
    position:relative;
}
.header__search #txtSearch {
    padding: 0px 20px;
    width: 90%;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #FA8072;
    outline: none;
}
.header__search .ic_search {
    position:absolute;
    margin-left:-15px;
    padding: 10.8px;
    background-color: #FA8072;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 19px;
}

.header__shopping_cart {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.header__shopping_cart .ti-shopping-cart {
    font-size: 35px;
    color: #FA8072;
    padding-right: 10px;
}
/*nav menu*/

.header__navbar .menu_list{
    display:flex;
    list-style:none;
    justify-content:space-between;
    padding:20px 250px;
}
.menu_list a {
    text-transform: uppercase;
    font-weight: 900;
    color: black;
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    .header__topbar{
        justify-content:center;
    }
    #taikhoan {
        display: none;
    }

    .navBar_Container {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 50vw;
        background-color: white;
        transform: translateX(-100%);
        transition: transform linear 0.2s;
        z-index:31;
    }
    .check_navBar:checked ~ .navBar_Container {
        transform: translateX(0%);
    }
    .header__navbar .menu_list {
        display: block;
        padding: 50px 0px 0px 50px;
    }
    .header__navbar .menu_list li{
        margin-bottom:10px;
    }

    .fa-bars {
        display: inline;
        position: absolute;
        top: 65px;
        left: 30px;
        font-size: 20px;
        cursor: pointer;
    }

    .fa-xmark{
        display:block;
        position:absolute;
        top:0px;
        right:25px;
        margin-top:30px;
        font-size:20px;
        cursor:pointer;
    }
    .tknavbar{
        display:block;
        margin-left:30px;
        margin-top:30px;
        font-size:16px;
        color:black;
    }
}
@media screen and (max-width: 767px){
    .header__topbar {
        justify-content: center;
        padding: 0px;
    }
    #taikhoan {
        display: none;
    }

    .header__bottombar{
        display:grid;
        grid-template-columns:1fr 1fr;
        grid-template-areas:
            "aa bb"
            "cc cc";
        padding-top:10px;
        height:175px;
    }
    .header__search{
        grid-area:cc;
        width:80%;
        margin:0 auto;
    }
    .header__logo{
        grid-area:aa;
    }
    .header__shopping_cart{
        grid-area:bb;
    }

    .navBar_Container {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 70vw;
        background-color: white;
        transform: translateX(-100%);
        transition: transform linear 0.2s;
        z-index:31;
    }

    .check_navBar:checked ~ .navBar_Container {
        transform: translateX(0%);
    }

    .header__navbar .menu_list {
        display: block;
        padding: 50px 0px 0px 50px;
    }

    .header__navbar .menu_list li {
        margin-bottom: 10px;
    }

    .fa-bars {
        display: inline;
        position: absolute;
        top: 170px;
        left: 30px;
        font-size: 20px;
        cursor: pointer;
    }

    .fa-xmark {
        display: block;
        position: absolute;
        top: 0px;
        right: 25px;
        margin-top: 30px;
        font-size: 20px;
        cursor: pointer;
    }

    .tknavbar {
        display: block;
        margin-left: 30px;
        margin-top: 30px;
        font-size: 16px;
        color:black;
    }
}